In [1]:
name = " john doe"

In [3]:
name.title().split()[1] + " " + name.title().split()[0]

'Doe John'

In [4]:
name.title()

' John Doe'

In [6]:
my_list = ['a','b','c',2,5,2.7,10,"hello"]
type(my_list) # type just returns the data type

list

In [7]:
name

' john doe'

In [8]:
my_list[1]

'b'

In [9]:
my_list[1]="new"

In [10]:
my_list[1]

'new'

In [11]:
my_list

['a', 'new', 'c', 2, 5, 2.7, 10, 'hello']

In [12]:
my_list = [1,2,3,[5,6,'index',7], 2.5,2.6,4,'hello','test']

In [22]:
my_list[3][2]

'index'

In [24]:
#set 
s = {6,1,2,3,1,5,'hello',3.5,'hello'}
s

{1, 2, 3, 3.5, 5, 6, 'hello'}

In [28]:
print(s)

{1, 2, 3, 'hello', 5, 6, 3.5}

In [29]:
#tuples 
t = (1,2,4,'test',1,2,3)
t

(1, 2, 4, 'test', 1, 2, 3)

In [30]:
print(t[2])

4

In [31]:
my_list = ['a','b','c']

In [32]:
my_list[0]

'a'

In [33]:
#dictionarty

In [34]:
my_dictionary = {'a': 'apple', 'c':'cat','d':'dog','e': 'elephant'}

In [35]:
my_dictionary['e']

'elephant'

In [37]:
my_dictionary['d'] = 'door'

In [38]:
my_dictionary

{'a': 'apple', 'c': 'cat', 'd': 'door', 'e': 'elephant'}

In [40]:
my_dictionary.update({'d':'dog'})

In [41]:
my_list = [1]

In [42]:
my_list.append('new ele')

In [43]:
my_list

[1, 'new ele']

In [44]:
my_list = [1,2,3,4,5,6,6,7,7,8,8,8,888,8]

In [45]:
my_list.insert(0,' new element')

In [46]:
my_list

[' new element', 1, 2, 3, 4, 5, 6, 6, 7, 7, 8, 8, 8, 888, 8]

In [47]:
name = "Jackson james"

In [48]:
for ele in name: 
    print(ord(ele))

74
97
99
107
115
111
110
32
106
97
109
101
115

In [49]:
name_ascii = []
for ele in name: 
    name_ascii.append(ord(ele))
    print("list size", len(name_ascii))

list size 1
list size 2
list size 3
list size 4
list size 5
list size 6
list size 7
list size 8
list size 9
list size 10
list size 11
list size 12
list size 13

In [51]:
my_list = []
for ele in name_ascii:
    my_list.append(chr(ele))
    print(my_list)

['J']
['J', 'a']
['J', 'a', 'c']
['J', 'a', 'c', 'k']
['J', 'a', 'c', 'k', 's']
['J', 'a', 'c', 'k', 's', 'o']
['J', 'a', 'c', 'k', 's', 'o', 'n']
['J', 'a', 'c', 'k', 's', 'o', 'n', ' ']
['J', 'a', 'c', 'k', 's', 'o', 'n', ' ', 'j']
['J', 'a', 'c', 'k', 's', 'o', 'n', ' ', 'j', 'a']
['J', 'a', 'c', 'k', 's', 'o', 'n', ' ', 'j', 'a', 'm']
['J', 'a', 'c', 'k', 's', 'o', 'n', ' ', 'j', 'a', 'm', 'e']
['J', 'a', 'c', 'k', 's', 'o', 'n', ' ', 'j', 'a', 'm', 'e', 's']

In [52]:
#list

In [56]:
friends = ["Kevin","Karen","jim","Oscar","Toby"]

In [55]:
print(friends)

['Kevin', 'Karen', 'jim']

In [57]:
friends[1] = "Mike"

In [58]:
print(friends)

['Kevin', 'Mike', 'jim', 'Oscar', 'Toby']

In [ ]:
lucky_numbers = [4,8,15,16,23,41]
friends = ""